<div class="row">

  <div class="col-md-4 col-md-offset-4 col-xs-12">

    <div class="page-header">
      <h2>Bienvenue</h2>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Cliquez sur votre groupe puis votre prénom</div>
      <div class="panel-body">

        <ul id="users" class="nav nav-pills nav-stacked">

          <% @groups.each do |group| %>
            <li>
              <%= link_to new_session_path({group_id: group.id}) do %>
                <span class="pull-right">&raquo;</span>
                <%= group %>
              <% end %>
            </li>
          <% end %>

          <% @users.each do |user| %>
            <li>
              <%= link_to sessions_path(session: {user_id: user.id}), method: :post do %>
                <span class="pull-right">&raquo;</span>
                <%= user %>
              <% end %>
            </li>
          <% end %>

          <% if @selected_group %>
            <li class="divider"><hr></li>
            <li>
              <%= link_to new_session_path do %>
                «
               Groupes
              <% end %>
            </li>
          <% end %>

        </ul>

      </div>
    </div>

  </div>

</div>
